:root {
  --homebackground: #131313;
  --footerBck: #101010;
  --blackColor: #000;
  --mainColor: #fff;
  --semiMainColor: #d87d4a;
  --sampleBackground: #f1f1f1;
  --semiBackground: #f1f1f1;
  --hoverBtn: #fbaf85;
  --blackHover: #4c4c4c;
  --smBtnBorder: #000000b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdfdfd;
}

.container {
  padding: 0 30px;
}
.res,
.mobile-menu {
  display: none;
}
.section1,
.res-home {
  background-color: var(--homebackground);
  padding: 0 30px;
}
.res-home {
  display: none;
  padding-bottom: 20px;
}

.res-home-main {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 40px;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.res-home-main div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--mainColor);
  padding-top: 70px;
}
.main {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  color: var(--mainColor);
  align-items: center;
  padding-bottom: 20px;
}
.section1 .main div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.hero-img {
  width: 70%;
  height: 550px;
}
.section1 h4,
.res-home-main h4 {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  letter-spacing: 10px;
}
.section1 h1 {
  font-family: Manrope;
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}

.res-home-main h1 {
  font-family: Manrope;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
}
.section1 p {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 349px;
  height: 75px;
}
.res-home-main p {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}
.section1 .main button,
.res-home-main button {
  cursor: pointer;
  border: none;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  width: 160px;
  height: 48px;
  color: var(--mainColor);
  background-color: var(--semiMainColor);
  transition: all 0.5s;
}
.res-home-main button:hover,
.section1 .main button:hover {
  background-color: var(--hoverBtn);
}

/* SECTION 2 */
.section2 {
  max-width: 1100px;
  margin: 25px auto;
  padding-top: 100px;
  background-color: var(--semiMainColor);
  display: flex;
  justify-content: center;
  color: var(--mainColor);
  gap: 120px;
  border-radius: 5px;
}
.section2 div {
  width: 349px;
  height: 303px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 33px;
}
.section2 h1 {
  font-family: Manrope;
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}
.section2 p {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.section2 button {
  border: none;
  cursor: pointer;
  width: 160px;
  height: 48px;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  background-color: var(--blackColor);
  color: var(--mainColor);
  transition: all 0.5s;
}
.section2 button:hover {
  background-color: var(--blackHover);
}

/* SECTION 3 */

.section3 {
  max-width: 1100px;
  margin: 25px auto;
  height: 300px;
  border-radius: 5px;
}
.section3 h1 {
  font-family: Manrope;
  font-size: 28px;
  font-weight: 700;
  line-height: 38.25px;
  letter-spacing: 2px;
  margin-top: 100px;
}

.section3 button,
.section4 button {
  width: 160px;
  height: 48px;
  opacity: 0px;
  background-color: inherit;
  border: 1px solid var(--smBtnBorder);
  cursor: pointer;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.section3 button:hover,
.section4 button:hover {
  background-color: #000000;
  color: var(--mainColor);
}
.section3 div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 100px;
}

/* SECTION4 */
.section4 {
  max-width: 1100px;
  margin: 25px auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.section4 img {
  width: 100%;
  height: 310.5px;
  border-radius: 5px;
}
.section4 .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  padding-left: 100px;
  gap: 30px;
  border-radius: 5px;
  height: 310.5px;
  width: 100%;
}
.section4 h1 {
  font-family: Manrope;
  font-size: 28px;
  font-weight: 700;
  line-height: 38.25px;
  letter-spacing: 2px;
}
/* LOCATION DETAILS */
.location-cell {
  max-width: 1100px;
  margin: 200px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.location-cell h1 {
  width: 445px;
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  margin-bottom: 30px;
}
.location-cell span {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  color: var(--semiMainColor);
}
.location-cell p {
  width: 90%;
  opacity: 50%;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--blackColor);
}
.location-cell img {
  width: 100%;
  height: 550px;
  border-radius: 5px;
}

/* FOOTER */
.footer-cell {
  background-color: var(--blackColor);
  padding: 0 30px;
}
.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-navigation ul {
  display: flex;
  gap: 30px;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.footer-navigation .nav-link {
  text-decoration: none;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  color: var(--mainColor);
  transition: all 0.5s;
}
.footer-navigation .nav-link:hover {
  color: var(--semiMainColor);
}
.footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  color: var(--mainColor);
  padding: 30px 0;
}
.footer-body .inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-body p {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 540px;
  height: 100px;
  opacity: 50%;
}
.footer-body h3 {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  opacity: 50%;
  width: 300px;
}
.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-icons .icon,
.res-footer .icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.5s;
}
.res-footer .icon {
  margin: 0 5px;
}
.footer-icons .icon:hover,
.res-footer .icon:hover {
  color: var(--semiMainColor);
}
.res-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-icon {
  display: none;
}
/* APPLICATION NAVIGATION */
.app-nav,
.details-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  padding: 30px 0;
  margin: 0 auto;
  border-bottom: 0.5px solid #898989;
}

.details-nav {
  border: none;
}
.app-nav ul,
.details-nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.app-nav .nav-link,
.details-nav .nav-link {
  text-decoration: none;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  color: var(--mainColor);
  transition: all 0.5s;
}
.details-nav .nav-link:hover,
.app-nav .nav-link:hover {
  color: var(--semiMainColor);
}
.app-nav-icon {
  width: 23.33px;
  height: 20px;
  color: var(--mainColor);
}

.open,
.close {
  display: none;
  width: 30px;
  height: 30px;
  color: var(--mainColor);
  cursor: pointer;
}

.close {
  margin-left: 80px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* SAMPLES */
.samples {
  max-width: 1100px;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.samples div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
  background-color: var(--semiBackground);
  cursor: pointer;
  transition: all 0.5s;
  padding-bottom: 30px;
}
.samples div:hover {
  color: var(--semiMainColor);
}
.samples button {
  border: none;
  display: inline-block;
  background-color: inherit;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 1.2857142686843872px;
}

.samples p {
  display: flex;
  align-items: center;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  gap: 10px;
}
.sample-icon {
  color: var(--semiMainColor);
  width: 10px;
  height: 10px;
}
.samples img {
  height: 150px;
  margin-top: -80px;
}
/* Main pages */
.headphones .unreverse,
.speakers section
/* , */
/* .earphones .unreverse */ {
  border: 1px so
   ;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  margin-top: 120px;
  /* padding: 0 20px; */
}

.headphones .head,
.speakers .head,
.earphones .head {
  background-color: var(--blackColor);
  color: var(--mainColor);
}
.headphones .head h1,
.speakers .head h1,
.earphones .head h1 {
  text-align: center;
  padding: 80px 0;
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
}

.headphones section .about,
.speakers section .about,
.earphones section .about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}
.img-container {
  width: 100%;
  text-align: center;
}

.headphones h4,
.speakers h4,
.earphones h4 {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  letter-spacing: 10px;
  color: var(--semiMainColor);
  margin-bottom: -10px;
}
.headphones section h1,
.speakers section h1,
.earphones section h1 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
}
.headphones section p,
.speakers section p,
.earphones section p {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: var(--blackColor);
  opacity: 50%;
  width: 90%;
}
.headphones section .head-products,
.earphones section .head-products,
.speakers section .head-products {
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: var(--semiMainColor);
  color: var(--mainColor);
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
}
.img-container {
  background-color: var(--sampleBackground);
  padding: 50px 0;
  border-radius: 11px;
}
/* PRODUCTION DETAILS */
.pro-details .sections1,
.pro-details .sections2,
.pro-details .sections4,
.pro-details .sections5 {
  max-width: 1100px;
  margin: 0px auto;
  margin-bottom: 150px;
}
.pro-details .sections1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
}
.pro-details .sections2,
.pro-details .sections4 {
  display: flex;
  justify-content: space-between;
}

.pro-details .sections1 h1 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
}
.pro-details .sections1 p {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 445px;
  opacity: 50%;
}
.pro-details .sections1 .price {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 1.2857142686843872px;
}
.pro-details .sections1 .detail-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pro-details .sections2 p {
  width: 635px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  /* margin-bottom: 20px; */
  opacity: 50%;
}
.pro-details .sections2 .feat-det {
  margin-bottom: 20px;
}

.increase2 {
  width: 160px;
  height: 48px;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: var(--semiMainColor);
  color: var(--mainColor);
  border: none;
  cursor: pointer;
  display: inline-block;
}
.increase {
  width: 110px;
  height: 48px;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.increase span {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
}
.num {
  margin: 0 20px;
}
.smy {
  opacity: 50%;
}
.inc-cell {
  display: flex;
  align-items: center;
}
.pro-details .sections2 .bonus li {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pro-details .sections2 .bonus ul li p {
  opacity: 50%;
}
.pro-details .sections2 span {
  color: var(--semiMainColor);
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

.pro-details .sections2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pro-details .sections2 h1 {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  margin-bottom: 30px;
}

/*.pro-details .sections4 {
   border: 1px solid red; 
  gap: 10px;
}

 .pro-details .sections4 .small-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 40%;
}
.pro-details .sections4 .small-imgs img {
  width: 100%;
  border-radius: 4px;
  height: 245px;
}
.pro-details .sections4 .main-img {
  height: 500px;
  width: 60%;
   height: 480px; 

  border-radius: 4px;
} */

.pro-details .sections5 .main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.pro-details .sections5 .main div {
  width: 100%;
}
.pro-details .sections5 .main .sec-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pro-details .sections5 .main .sec-details img {
  height: 200px;
}
.pro-details .sections5 .head {
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  margin-bottom: 50px;
}
.pro-details .sections5 .main h1 {
  color: var(--blackColor);
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.78px;
  letter-spacing: 1.7142857313156128px;
}
.pro-details .sections5 button {
  width: 160px;
  height: 48px;
  top: 423px;
  left: 95px;
  gap: 0px;
  opacity: 0px;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: var(--semiMainColor);
  color: var(--mainColor);
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
}
.details-navigation {
  background-color: var(--blackColor);
}
.details-navigation .icon {
  color: var(--mainColor);
}
.goback {
  max-width: 1100px;
  margin: 0 auto;
}
.goback .link {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: inherit;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 50%;
  color: var(--blackColor);
  margin-top: 60px;
  margin-bottom: 40px;
  transition: all 0.5s;
}
.goback .link:hover {
  color: var(--semiMainColor);
}
