@media (max-width: 950px) {
  .hero-img {
    width: 58%;
  }

  .section1 h1 {
    font-size: 44px;
  }

  .section1 .main div {
    gap: 15px;
    margin-top: 40px;
  }

  .section1 p {
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 339px;
    height: 75px;
  }

  .section2 {
    gap: 60px;
  }

  .section2 img {
    width: 40%;
    height: 400px;
  }

  .headphones .unreverse,
  .speakers section,
  .earphones .unreverse {
    gap: 30px;
  }

  .headphones section img,
  .speakers section img,
  .earphones section img {
    width: 250px;
  }

  .location-cell img {
    width: 100%;
    height: 430px;
    border-radius: 5px;
  }

  .pro-details .sections1 {
    gap: 50px;
  }

  .pro-details .sections1 p {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 20px;
  }

  .main-img {
    display: none;
  }
  .res {
    display: block;
  }
  .res-home {
    display: block;
  }
  .section1 {
    display: none;
  }

  .section2 {
    margin: 25px auto;
    padding: 60px 0;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .section2 div {
    width: 349px;
    height: 303px;
    align-items: center;
    gap: 30px;
    margin-top: 0px;
  }
  .section2 h1 {
    font-size: 56px;
    text-align: center;
  }
  .section2 p {
    text-align: center;
  }

  .section2 img {
    width: 200px;
    height: 250px;
  }
  .location-cell {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    margin: 100px auto;
  }
  .location-cell h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .location-cell p {
    width: 100%;
    text-align: center;
  }
  .location-cell img {
    width: 100%;
    height: auto;
  }

  .footer-body {
    padding: 30px 20px;
  }
  .footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-navigation ul {
    padding-top: 30px;
  }

  .footer-body .inner {
    width: 100%;
  }

  .footer-icons {
    display: none;
  }
  .footer-icon {
    display: block;
  }

  .footer-cell {
    padding: 0 10px;
  }

  .footer-body .inner p {
    width: 100%;
  }

  .section4 h1 {
    font-size: 25px;
  }
  body {
    position: relative;
  }

  .app-nav,
  .details-nav {
    padding: 30px 20px;
  }

  .app-nav .show-links,
  .details-nav .show-links {
    align-items: start;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 1.8%;
    left: 0%;
    transition: all 0.5s;
    padding: 5px 10px;
    background-color: #2d2d2dd5;
  }

  .app-nav .hide-links,
  .details-nav .hide-links {
    align-items: start;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 1.8%;
    left: -30%;
    transition: all 0.5s;
    background-color: #2d2d2dd5;
  }

  .open,
  .close {
    display: block;
  }

  .headphones .unreverse,
  .speakers .unreverse,
  .earphones .unreverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 120px 10px;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 100px;
    margin: 120px 0;
    padding: 0 10px;
  }

  .headphones section .about,
  .speakers section .about,
  .earphones section .about {
    gap: 30px;
    align-items: center;
  }
  .headphones section p,
  .speakers section p,
  .earphones section p {
    width: 80%;
    text-align: center;
  }
  .headphones section h1,
  .speakers section h1,
  .earphones section h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.4285714626312256px;
    text-align: center;
  }

  .pro-details .sections1 {
    grid-template-columns: 1fr 2fr;
    gap: 60px;
  }
  .pro-details .sections1 img {
    width: 200px;
  }

  .pro-details .sections2 {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }

  .bonus-cell {
    display: flex;
    justify-content: space-between;
  }
  .pro-details .sections2 p {
    width: 100%;
  }

  .img {
    padding: 60px 10px;
  }
  .bonus {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    justify-content: space-between;
  }

  .mobile-menu {
    display: none;
  }

  .goback {
    padding: 0 20px;
  }
}
@media (max-width: 700px) {
  .res-home-main {
    height: 530px;
  }
  .res-home-main div {
    margin: 100px auto;
  }

  .res-home-main h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
  }

  .res-home-main div {
    gap: 15px;
    padding-top: 90px;
  }

  .res-home-main h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 8.12px;
  }

  .pro-details .sections5 .main h1 {
    font-size: 22px;
  }

  .pro-details .section-img img {
    width: 100%;
    height: 450px;
    border-radius: 8px;
  }

  .pro-details .section-img .small-ones img {
    height: 217.5px;
  }
}

@media (max-width: 600px) {
  .res-home-main div {
    gap: 18px;
    padding-top: 54px;
  }

  .res-home-main h1 {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 1px;
  }

  .res-home-main p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .res-home-main button {
    font-size: 12px;
    width: 135px;
    height: 35px;
  }

  .res-home-main h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 10.12px;
    letter-spacing: 6px;
  }

  .mobile-menu {
    display: block;
    color: #ffffff;
    width: 30px;
    height: 30px;
  }

  .section2 h1 {
    font-size: 46px;
  }
  .open {
    display: none;
  }
  .res-home-main {
    height: 440px;
  }
  .res-home-main div {
    margin: 70px auto;
  }

  .samples {
    flex-direction: column;
    gap: 130px;
  }

  .section4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .footer-navigation ul {
    padding-top: 30px;
    flex-direction: column;
  }

  .footer-body .inner {
    width: 100%;
  }

  .footer-cell {
    padding: 0 10px;
  }

  .footer-body .inner p {
    width: 100%;
    text-align: center;
  }

  .res-footer {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .section3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section3 div {
    margin-left: 30px;
  }
  .section4 .details {
    padding-left: 40px;
    gap: 30px;
    height: 250.5px;
  }
  .section4 img {
    height: 250.5px;
  }
  .samples {
    max-width: 1100px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  .pro-details .sections1 {
    display: flex;
    flex-direction: column;
  }

  .pro-details .sections5 .main {
    flex-direction: column;
    gap: 70px;
  }

  .pro-details .sections5 {
    margin: 250px 0;
  }

  .pro-details .sections5 .main .sec-details {
    gap: 20px;
  }

  .bonus {
    display: flex;
    flex-direction: column;
  }

  .app-nav .show-links,
  .details-nav .show-links {
    gap: 15px;
    top: 1.6%;
    left: 0%;
    padding: 5px 10px;
  }

  .app-nav .hide-links,
  .details-nav .hide-links {
    gap: 15px;
    top: 1.6%;
    left: -30%;
  }

  .location-cell {
    margin: 200px auto;
  }

  .location-cell h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .location-cell span {
    font-size: 36px;
  }

  .pro-details .sections5 .main .sec-details img {
    height: 180px;
  }

  .pro-details .section-img {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 500px) {
  .res-home-main {
    height: 360px;
  }
  .res-home-main div {
    margin: 35px auto;
  }

  .res-home-main div {
    gap: 12px;
    padding-top: 74px;
  }

  .res-home-main h1 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .res-home-main p {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    width: 70%;
  }

  .res-home-main button {
    font-size: 12px;
    width: 125px;
    height: 28px;
  }

  .res-home-main h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 5.12px;
    letter-spacing: 6px;
  }

  .location-cell h1 {
    font-size: 26px;
    line-height: 34px;
  }

  .location-cell span {
    font-size: 26px;
  }
  .section2 p {
    text-align: center;
    width: 90%;
    padding: 0 5px;
  }
  .pro-details .sections5 .head {
    font-size: 24px;
  }
  .pro-details .section-img img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
  }
}
